
.toolbar {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-align: right;
}

.toolbar > .button {
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    background: rgb(155, 101, 140);
    display: inline-block;
    border-radius: 14px;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
}

.toolbar > .button:hover {
    background: rgb(190, 207, 252);
}