
/* body css */

body {
    margin: 0;
    font-family: Source Han Sans CN,Times,serif;
    font-size: 16px;
    line-height: 1.6em;
}

body * {
    box-shadow: 0 0 1px;
    box-sizing: border-box;
}

/* base css */

textarea {
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: 16px;
    line-height: 1.6em;
    font-family: Source Han Sans CN,Times,serif;
}

/* module css */

.app-root {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    width: 20%;
    background: rgb(34, 71, 58);
    position: relative;
}

.entry {
    height: 40px;
    background: rgb(142, 135, 135);
    cursor: pointer;
    line-height: 40px;
    padding: 0 14px;
    position: absolute;
    width: 100%;
    transition: 400ms;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entry.is-active,
.entry:hover {
    background: rgb(165, 161, 161);
}

.text {
    flex: 1;
}
