
.slide-enter {
  transition: 400ms;
  transform: translate(-300px, 0);
  opacity: 0;
}
.slide-enter-active {
  transform: translate(0, 0);
  opacity: 1;
}
.slide-leave {
  transition: 400ms;
  transform: translate(0, 0);
  opacity: 1;
}
.slide-leave-active {
  transform: translate(-300px, 0);
  opacity: 0;
}